@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
#linechartdiv {background: #282828 url('http://www.amcharts.com/lib/3/patterns/chalk/bg.jpg');color: #fff;
	width		: 80%;
	height		: 300px;
	font-size	: 11px;
}			
	