/*NewsContents.jsp*/
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
#newsLinechart {
	width		: 80%;
	height		: 300px;
	font-size	: 11px;
}
/*AppContents.jsp*/	
#appLinechart , #appStackchartAverage , #appStackchartCount, #appPiechartReview , #appLinechartVersion {
	width		: 100%;
	height		: 300px;
	font-size	: 11px;
}		
	
	