<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.tmon.appreview.dao.MonthlyRatingFlowMapper">
	<resultMap type="MonthlyRatingFlowModel" id="MonthlyRatingFlowResult">
		<result property="ratingOne" column="rating_one" />
		<result property="ratingTwo" column="rating_two" />
		<result property="ratingThree" column="rating_three" />
		<result property="ratingFour" column="rating_four" />
		<result property="ratingFive" column="rating_five" />
		<result property="averageRating" column="average_rating" />
		<result property="appName" column="app_name" />
		<result property="reviewedMonth" column="reviewed_month" />
		<result property="corpCode" column="corpcode" />
	</resultMap>
	
	<insert id="insertMonthlyRatingData">
		INSERT INTO
			rating_flow(rating_one, rating_two, rating_three, rating_four, rating_five, corpcode, app_name, reviewed_month, average_rating)
		SELECT
			#{ratingOne}, #{ratingTwo}, #{ratingThree}, #{ratingFour}, #{ratingFive}, #{corpCode}, #{appName}, #{reviewedMonth}, #{averageRating}
		FROM DUAL
			WHERE
				NOT EXISTS
					(SELECT rating_flow.corpcode, rating_flow.reviewed_month FROM rating_flow WHERE rating_flow.corpcode=#{corpCode} AND rating_flow.reviewed_month = #{reviewedMonth})
	</insert>
	
	<select id="selectMonthlyRatingData" resultType="MonthlyRatingFlowModel">
		SELECT
			rating_one, rating_two, rating_three, rating_four, rating_five, corpcode, app_name, reviewed_month, average_rating
		FROM
			rating_flow
		WHERE
			corpcode = #{corpCode}
				AND
					reviewed_month = #{reviewedMonth}
	
	</select>
</mapper>