<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.tmon.socialnews.dao.NewsMapper">
	<resultMap type="News" id="NewsResult">
		<id property="newsID" column="id" />
		<result property="newsTitle" column="title" />
		<result property="newsPreview" column="preview" />
		<result property="newsDate" column="date" />
		<result property="newsImage" column="image" />
		<result property="newsLink" column="link" />
		<result property="newsProvider" column="provider" />
		<result property="newsCount" column="readcnt" />
		<result property="newsSocialCorpCode" column="social_corpcode" />
	</resultMap>

	<select id="getNewsList" resultMap="NewsResult">
		SELECT 
			news.id, 
			news.title, 
			news.preview, 
			news.date, 
			news.image, 
			news.link, 
			news.provider, 
			news.readcnt,
			mapping_social.social_corpcode
		FROM 
			news
		INNER JOIN 
			mapping_social ON news.id = mapping_social.news_id
		INNER JOIN 
			social_corporations ON mapping_social.social_corpcode = social_corporations.code
		WHERE
			social_corporations.code=#{corpCode} AND
			date=#{newsDate}
		ORDER BY 
			news.id DESC
		LIMIT
			#{page}, 5
	</select>

	<select id="getNewsListByAllCorp" resultMap="NewsResult">
		SELECT 
			news.id, 
			news.title, 
			news.preview, 
			news.date, 
			news.image, 
			news.link, 
			news.provider, 
			news.readcnt,
			mapping_social.social_corpcode
		FROM 
			news 
		INNER JOIN 
			mapping_social ON news.id = mapping_social.news_id
		INNER JOIN 
			social_corporations ON mapping_social.social_corpcode =social_corporations.code
		WHERE
			date=#{newsDate}
			AND
				(social_corporations.code = "tm" 
				OR social_corporations.code = "wmp" 
				OR social_corporations.code = "cp")
		GROUP BY 
		news.id
		ORDER BY
			news.id DESC,
			CASE 
				WHEN 
					CODE = "tm" THEN 1
				WHEN
					CODE = "cp" THEN 2
				WHEN 
					CODE = "wmp" THEN 3
		END ASC
		LIMIT
		#{page}, 5
	</select>
	
	<select id="getNewsListForDailyNumberOfNews" resultMap="NewsResult">
		SELECT 
			news.id, 
			mapping_social.social_corpcode
		FROM 
			news
		INNER JOIN 
			mapping_social ON news.id = mapping_social.news_id
		INNER JOIN 
			social_corporations ON mapping_social.social_corpcode = social_corporations.code
		WHERE
			social_corporations.code=#{corpCode} AND date=#{date}
	</select>

	<select id="getNewsListByAllCorpForDailyNumberOfNews" resultMap="NewsResult">
		SELECT 
			news.id, 
			mapping_social.social_corpcode
		FROM 
			news 
		INNER JOIN 
			mapping_social ON news.id = mapping_social.news_id
		INNER JOIN 
			social_corporations ON mapping_social.social_corpcode = social_corporations.code
		WHERE
			date=#{newsDate}
		GROUP BY 
			news.id
		ORDER BY
			CASE 
				WHEN 
					CODE = "tm" THEN 1
				WHEN 
					CODE = "cp" THEN 2
				WHEN 
					CODE = "wmp" THEN 3
				WHEN 
					CODE ="etc" THEN 4
		END ASC
	</select>

	<insert id="insertNews" parameterType="News">
	INSERT INTO 
		news(id, title, preview, DATE, image, link, provider, readcnt)
	SELECT
		#{newsID}, #{newsTitle}, #{newsPreview}, #{newsDate}, #{newsImage}, #{newsLink}, #{newsProvider}, 0
	FROM DUAL
		WHERE 
			NOT EXISTS 
				(SELECT id FROM news WHERE id=#{newsID})
	</insert>

	<insert id="mappingSocialCode" parameterType="News">
		INSERT INTO
			mapping_social(social_corpcode, news_id)
		SELECT
			#{newsSocialCorpCode}, #{newsID}
		FROM DUAL
			WHERE
				NOT EXISTS
					(SELECT social_corpcode, news_id FROM mapping_social WHERE social_corpcode=#{newsSocialCorpCode} AND news_id=#{newsID})
			
	</insert>
	
	<update id="readCountUpdate" parameterType="int">
		UPDATE 
			news 
		SET 
			readcnt=readcnt+1
		WHERE 
			id=#{newsID};
	</update>

</mapper>