<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<task:annotation-driven executor="taskExecutor"
		scheduler="taskScheduler" />
	<task:executor id="taskExecutor" pool-size="1" />
	<task:scheduler id="taskScheduler" />

<!-- DataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://10.5.208.36:3306/front_db"></property>
		<property name="username" value="@username@"></property>
		<property name="password" value="@password@"></property>
		<property name="removeAbandoned" value="true"></property>
		<property name="removeAbandonedTimeout" value="30"></property>
		<property name="logAbandoned" value="true"></property>
		<property name="testOnBorrow" value="false"></property>
		<property name="initialSize" value="10"></property>
		<property name="maxActive" value="40"></property>
		<property name="minIdle" value="6"></property>
		<property name="maxIdle" value="40"></property>
		<property name="maxWait" value="1000"></property>
		<property name="testWhileIdle" value="true"></property>
		<property name="timeBetweenEvictionRunsMillis" value="30000"></property>

	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:sql/mappers/*.xml"></property>
		<property name="typeAliases"
			value="kr.co.tmon.socialnews.model.News, kr.co.tmon.socialnews.model.CountSocialNews, kr.co.tmon.appreview.model.AppReviewModel, kr.co.tmon.appreview.model.MonthlyAppRatingModel, kr.co.tmon.appreview.model.NumberOfAppReviewModel, kr.co.tmon.appreview.model.RatingOfAppByVersionModel"></property>
		<property name="typeAliasesPackage"
			value="kr.co.tmon.socialnews.model, kr.co.tmon.appreview.model"></property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean id="newsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="kr.co.tmon.socialnews.dao.NewsMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="appReviewMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="kr.co.tmon.appreview.dao.AppReviewMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="ratingOfAppByVersionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="kr.co.tmon.appreview.dao.RatingOfAppByVersionMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="monthlyAppRatingMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="kr.co.tmon.appreview.dao.MonthlyAppRatingMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<import resource="classpath:spring/applicationContext-bo.xml" />
	<import resource="classpath:spring/applicationContext-dao.xml" />
</beans>
